[submodule "Extern/glm"]
	path = Extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "Extern/HighFive"]
	path = Extern/HighFive
	url = https://github.com/BlueBrain/HighFive.git
[submodule "Extern/CLI11"]
	path = Extern/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "Extern/googletest"]
	path = Extern/googletest
	url = https://github.com/google/googletest
[submodule "Extern/VMA"]
	path = Extern/VMA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "Extern/imgui"]
	path = Extern/imgui
	url = https://github.com/ocornut/imgui
[submodule "Extern/glfw"]
	path = Extern/glfw
	url = https://github.com/glfw/glfw
[submodule "Extern/NFD-Extended"]
	path = Extern/NFD-Extended
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "Extern/tomlplusplus"]
	path = Extern/tomlplusplus
	url = https://github.com/marzer/tomlplusplus
