[submodule "Extern/glm"]
	path = Extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "Extern/HighFive"]
	path = Extern/HighFive
	url = https://github.com/BlueBrain/HighFive.git
[submodule "Extern/CLI11"]
	path = Extern/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "Extern/googletest"]
	path = Extern/googletest
	url = https://github.com/google/googletest
[submodule "Extern/VMA"]
	path = Extern/VMA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "Extern/imgui"]
	path = Extern/imgui
	url = https://github.com/ocornut/imgui
[submodule "Extern/glfw"]
	path = Extern/glfw
	url = https://github.com/glfw/glfw
[submodule "Extern/stb"]
	path = Extern/stb
	url = https://github.com/nothings/stb
[submodule "Extern/alpaka"]
	path = Extern/alpaka
	url = https://github.com/alpaka-group/alpaka.git
[submodule "Extern/portable-file-dialogs"]
	path = Extern/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs.git
