# Directories
.vs/
.vscode/
bin/
bin-int/
build/
Intern/RayCore/doc/*/
out/

# Files
*.user
*.code-workspace
/CMakeSettings.json
/Tests/output/*
/Tests/output-new/*
/Tests/oldray_files/unittestData
/Tests/oldray_files/spec1-first_rzp02/data
/Tests/oldray_files/spec1-first_rzp4mm/data
/Tests/oldray_files/spec1+first_rzp4mm/data
/Tests/.ipynb_checkpoints/*
CMakeCache.txt
cmake.check_cache
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CPackConfig.cmake
cmake-build-debug/CPackSourceConfig.cmake
cmake-build-debug/Makefile
cmake-build-debug/RAYX.cbp
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/reply/cache-v2-170c49fd28fa272a29d3.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-d989e6485c9e22e2ca60.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-9381cfec77218be1ef9c.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
cmake-build-debug/.cmake/api/v1/reply/directory-Extern-Debug-a3b78571e98ab7562abd.json
cmake-build-debug/.cmake/api/v1/reply/directory-Extern.CLI11-Debug-c54f630a0bf69828db83.json
cmake-build-debug/.cmake/api/v1/reply/directory-Extern.CLI11.src-Debug-fa3446ffc822a1086f88.json
cmake-build-debug/.cmake/api/v1/reply/directory-Extern.googletest-Debug-ca975b9fa7614f242e0b.json
cmake-build-debug/.cmake/api/v1/reply/directory-Extern.googletest.googlemock-Debug-0acc26c530cc7952c7df.json
cmake-build-debug/.cmake/api/v1/reply/directory-Extern.googletest.googletest-Debug-35f87557891a699a918b.json
cmake-build-debug/.cmake/api/v1/reply/directory-Intern-Debug-bfd19c17767b8a3de3a6.json
cmake-build-debug/.cmake/api/v1/reply/directory-Intern.RayCore-Debug-5bff286c20055450eab7.json
cmake-build-debug/.cmake/api/v1/reply/directory-Intern.TerminalApp-Debug-e11c1f30669604d83387.json
cmake-build-debug/.cmake/api/v1/reply/directory-Tests-Debug-0bb2ec8d84e8c19149a9.json
cmake-build-debug/.cmake/api/v1/reply/index-2023-03-31T21-00-10-0872.json
cmake-build-debug/.cmake/api/v1/reply/target-CLI11-Debug-044f54af1afc880108bb.json
cmake-build-debug/.cmake/api/v1/reply/target-COMPILE_SHADER-Debug-6ec3b9fb65492e9f5b6b.json
cmake-build-debug/.cmake/api/v1/reply/target-Continuous-Debug-e12ecf5e864309f95d9c.json
cmake-build-debug/.cmake/api/v1/reply/target-ContinuousBuild-Debug-06382a084770df91929f.json
cmake-build-debug/.cmake/api/v1/reply/target-ContinuousConfigure-Debug-3910fb769a768ee3f645.json
cmake-build-debug/.cmake/api/v1/reply/target-ContinuousCoverage-Debug-3cb05c7324b2d45e5a78.json
cmake-build-debug/.cmake/api/v1/reply/target-ContinuousMemCheck-Debug-a72263cea745b289a01f.json
cmake-build-debug/.cmake/api/v1/reply/target-ContinuousStart-Debug-de56ce4c9d815ed543fb.json
cmake-build-debug/.cmake/api/v1/reply/target-ContinuousSubmit-Debug-e164385552e62dde1ccd.json
cmake-build-debug/.cmake/api/v1/reply/target-ContinuousTest-Debug-78f345875fc4ad046fa8.json
cmake-build-debug/.cmake/api/v1/reply/target-ContinuousUpdate-Debug-a85fc7b992faebadf119.json
cmake-build-debug/.cmake/api/v1/reply/target-Experimental-Debug-8e5a0f5a53b3fdd645bf.json
cmake-build-debug/.cmake/api/v1/reply/target-ExperimentalBuild-Debug-78c55ad21f5371f8a0b8.json
cmake-build-debug/.cmake/api/v1/reply/target-ExperimentalConfigure-Debug-ae2e6afe12841ccd9377.json
cmake-build-debug/.cmake/api/v1/reply/target-ExperimentalCoverage-Debug-1d6cf9b85b397b56021a.json
cmake-build-debug/.cmake/api/v1/reply/target-ExperimentalMemCheck-Debug-c353b2f419e3ee3bed55.json
cmake-build-debug/.cmake/api/v1/reply/target-ExperimentalStart-Debug-42b2f17d0349ce185c73.json
cmake-build-debug/.cmake/api/v1/reply/target-ExperimentalSubmit-Debug-dee40da7894837b40863.json
cmake-build-debug/.cmake/api/v1/reply/target-ExperimentalTest-Debug-f77b2e76110b70f02e81.json
cmake-build-debug/.cmake/api/v1/reply/target-ExperimentalUpdate-Debug-e1e2a8df1501c664ad77.json
cmake-build-debug/.cmake/api/v1/reply/target-gmock_main-Debug-4cf612fa29db325532be.json
cmake-build-debug/.cmake/api/v1/reply/target-gmock-Debug-4bcceff0dc5988b3f709.json
cmake-build-debug/.cmake/api/v1/reply/target-gtest_main-Debug-2207980644dcc92ba77d.json
cmake-build-debug/.cmake/api/v1/reply/target-gtest-Debug-7e05a88f4556069aae41.json
cmake-build-debug/.cmake/api/v1/reply/target-Nightly-Debug-46011f116eb0036ae568.json
cmake-build-debug/.cmake/api/v1/reply/target-NightlyBuild-Debug-78fc8b42f189daa60ab6.json
cmake-build-debug/.cmake/api/v1/reply/target-NightlyConfigure-Debug-3ec128278432648db2c6.json
cmake-build-debug/.cmake/api/v1/reply/target-NightlyCoverage-Debug-3752ecba24aa09b875db.json
cmake-build-debug/.cmake/api/v1/reply/target-NightlyMemCheck-Debug-98f5b189abe0b273a66a.json
cmake-build-debug/.cmake/api/v1/reply/target-NightlyMemoryCheck-Debug-081a65b8fd2d33e3f553.json
cmake-build-debug/.cmake/api/v1/reply/target-NightlyStart-Debug-280d95e78d44fcd92263.json
cmake-build-debug/.cmake/api/v1/reply/target-NightlySubmit-Debug-81aa3da64f6d530c4ca5.json
cmake-build-debug/.cmake/api/v1/reply/target-NightlyTest-Debug-5a2824122f6848d366e0.json
cmake-build-debug/.cmake/api/v1/reply/target-NightlyUpdate-Debug-fb6f44424a287dd9f984.json
cmake-build-debug/.cmake/api/v1/reply/target-RayCore-Debug-5271f134fbed19f3a4d2.json
cmake-build-debug/.cmake/api/v1/reply/target-RAYX_tst-Debug-8667c5756426215aeed2.json
cmake-build-debug/.cmake/api/v1/reply/target-TerminalApp-Debug-83f8fe7138589635be70.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ee5ca47e57a615ee224c.json
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeError.log
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/CMakeRuleHashes.txt
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/3.24.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.24.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.24.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.25.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.25.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.25.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/Extern/cmake_install.cmake
cmake-build-debug/Extern/Makefile
cmake-build-debug/Extern/CLI11/CLI11.cbp
cmake-build-debug/Extern/CLI11/cmake_install.cmake
cmake-build-debug/Extern/CLI11/Makefile
cmake-build-debug/Extern/CLI11/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/Extern/CLI11/CMakeFiles/progress.marks
cmake-build-debug/Extern/CLI11/src/cmake_install.cmake
cmake-build-debug/Extern/CLI11/src/Makefile
cmake-build-debug/Extern/CLI11/src/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/Extern/CLI11/src/CMakeFiles/progress.marks
cmake-build-debug/Extern/CLI11/src/CMakeFiles/CLI11.dir/build.make
cmake-build-debug/Extern/CLI11/src/CMakeFiles/CLI11.dir/cmake_clean.cmake
cmake-build-debug/Extern/CLI11/src/CMakeFiles/CLI11.dir/compiler_depend.make
cmake-build-debug/Extern/CLI11/src/CMakeFiles/CLI11.dir/compiler_depend.ts
cmake-build-debug/Extern/CLI11/src/CMakeFiles/CLI11.dir/DependInfo.cmake
cmake-build-debug/Extern/CLI11/src/CMakeFiles/CLI11.dir/progress.make
cmake-build-debug/Extern/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/Extern/CMakeFiles/progress.marks
cmake-build-debug/Extern/googletest/cmake_install.cmake
cmake-build-debug/Extern/googletest/CTestTestfile.cmake
cmake-build-debug/Extern/googletest/googletest-distribution.cbp
cmake-build-debug/Extern/googletest/Makefile
cmake-build-debug/Extern/googletest/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/Extern/googletest/CMakeFiles/progress.marks
cmake-build-debug/Extern/googletest/googlemock/cmake_install.cmake
cmake-build-debug/Extern/googletest/googlemock/CTestTestfile.cmake
cmake-build-debug/Extern/googletest/googlemock/gmock.cbp
cmake-build-debug/Extern/googletest/googlemock/Makefile
cmake-build-debug/Extern/googletest/googlemock/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/Extern/googletest/googlemock/CMakeFiles/progress.marks
cmake-build-debug/Extern/googletest/googlemock/CMakeFiles/gmock.dir/build.make
cmake-build-debug/Extern/googletest/googlemock/CMakeFiles/gmock.dir/cmake_clean_target.cmake
cmake-build-debug/Extern/googletest/googlemock/CMakeFiles/gmock.dir/cmake_clean.cmake
cmake-build-debug/Extern/googletest/googlemock/CMakeFiles/gmock.dir/compiler_depend.make
cmake-build-debug/Extern/googletest/googlemock/CMakeFiles/gmock.dir/compiler_depend.ts
cmake-build-debug/Extern/googletest/googlemock/CMakeFiles/gmock.dir/depend.make
cmake-build-debug/Extern/googletest/googlemock/CMakeFiles/gmock.dir/DependInfo.cmake
cmake-build-debug/Extern/googletest/googlemock/CMakeFiles/gmock.dir/flags.make
cmake-build-debug/Extern/googletest/googlemock/CMakeFiles/gmock.dir/link.txt
cmake-build-debug/Extern/googletest/googlemock/CMakeFiles/gmock.dir/progress.make
cmake-build-debug/Extern/googletest/googlemock/CMakeFiles/gmock_main.dir/build.make
cmake-build-debug/Extern/googletest/googlemock/CMakeFiles/gmock_main.dir/cmake_clean_target.cmake
cmake-build-debug/Extern/googletest/googlemock/CMakeFiles/gmock_main.dir/cmake_clean.cmake
cmake-build-debug/Extern/googletest/googlemock/CMakeFiles/gmock_main.dir/compiler_depend.make
cmake-build-debug/Extern/googletest/googlemock/CMakeFiles/gmock_main.dir/compiler_depend.ts
cmake-build-debug/Extern/googletest/googlemock/CMakeFiles/gmock_main.dir/depend.make
cmake-build-debug/Extern/googletest/googlemock/CMakeFiles/gmock_main.dir/DependInfo.cmake
cmake-build-debug/Extern/googletest/googlemock/CMakeFiles/gmock_main.dir/flags.make
cmake-build-debug/Extern/googletest/googlemock/CMakeFiles/gmock_main.dir/link.txt
cmake-build-debug/Extern/googletest/googlemock/CMakeFiles/gmock_main.dir/progress.make
cmake-build-debug/Extern/googletest/googletest/cmake_install.cmake
cmake-build-debug/Extern/googletest/googletest/CTestTestfile.cmake
cmake-build-debug/Extern/googletest/googletest/gtest.cbp
cmake-build-debug/Extern/googletest/googletest/Makefile
cmake-build-debug/Extern/googletest/googletest/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/Extern/googletest/googletest/CMakeFiles/progress.marks
cmake-build-debug/Extern/googletest/googletest/CMakeFiles/Export/0c08b8e77dd885bfe55a19a9659d9fc1/GTestTargets-debug.cmake
cmake-build-debug/Extern/googletest/googletest/CMakeFiles/Export/0c08b8e77dd885bfe55a19a9659d9fc1/GTestTargets.cmake
cmake-build-debug/Extern/googletest/googletest/CMakeFiles/gtest.dir/build.make
cmake-build-debug/Extern/googletest/googletest/CMakeFiles/gtest.dir/cmake_clean_target.cmake
cmake-build-debug/Extern/googletest/googletest/CMakeFiles/gtest.dir/cmake_clean.cmake
cmake-build-debug/Extern/googletest/googletest/CMakeFiles/gtest.dir/compiler_depend.make
cmake-build-debug/Extern/googletest/googletest/CMakeFiles/gtest.dir/compiler_depend.ts
cmake-build-debug/Extern/googletest/googletest/CMakeFiles/gtest.dir/depend.make
cmake-build-debug/Extern/googletest/googletest/CMakeFiles/gtest.dir/DependInfo.cmake
cmake-build-debug/Extern/googletest/googletest/CMakeFiles/gtest.dir/flags.make
cmake-build-debug/Extern/googletest/googletest/CMakeFiles/gtest.dir/link.txt
cmake-build-debug/Extern/googletest/googletest/CMakeFiles/gtest.dir/progress.make
cmake-build-debug/Extern/googletest/googletest/CMakeFiles/gtest_main.dir/build.make
cmake-build-debug/Extern/googletest/googletest/CMakeFiles/gtest_main.dir/cmake_clean_target.cmake
cmake-build-debug/Extern/googletest/googletest/CMakeFiles/gtest_main.dir/cmake_clean.cmake
cmake-build-debug/Extern/googletest/googletest/CMakeFiles/gtest_main.dir/compiler_depend.make
cmake-build-debug/Extern/googletest/googletest/CMakeFiles/gtest_main.dir/compiler_depend.ts
cmake-build-debug/Extern/googletest/googletest/CMakeFiles/gtest_main.dir/depend.make
cmake-build-debug/Extern/googletest/googletest/CMakeFiles/gtest_main.dir/DependInfo.cmake
cmake-build-debug/Extern/googletest/googletest/CMakeFiles/gtest_main.dir/flags.make
cmake-build-debug/Extern/googletest/googletest/CMakeFiles/gtest_main.dir/link.txt
cmake-build-debug/Extern/googletest/googletest/CMakeFiles/gtest_main.dir/progress.make
cmake-build-debug/Extern/googletest/googletest/generated/gmock_main.pc
cmake-build-debug/Extern/googletest/googletest/generated/gmock.pc
cmake-build-debug/Extern/googletest/googletest/generated/gtest_main.pc
cmake-build-debug/Extern/googletest/googletest/generated/gtest.pc
cmake-build-debug/Extern/googletest/googletest/generated/GTestConfig.cmake
cmake-build-debug/Extern/googletest/googletest/generated/GTestConfigVersion.cmake
cmake-build-debug/Intern/cmake_install.cmake
cmake-build-debug/Intern/Intern.cbp
cmake-build-debug/Intern/Makefile
cmake-build-debug/Intern/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/Intern/CMakeFiles/progress.marks
cmake-build-debug/Intern/RayCore/cmake_install.cmake
cmake-build-debug/Intern/RayCore/Makefile
cmake-build-debug/Intern/RayCore/RayCore.cbp
cmake-build-debug/Intern/RayCore/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/Intern/RayCore/CMakeFiles/progress.marks
cmake-build-debug/Intern/RayCore/CMakeFiles/COMPILE_SHADER.dir/build.make
cmake-build-debug/Intern/RayCore/CMakeFiles/COMPILE_SHADER.dir/cmake_clean.cmake
cmake-build-debug/Intern/RayCore/CMakeFiles/COMPILE_SHADER.dir/compiler_depend.make
cmake-build-debug/Intern/RayCore/CMakeFiles/COMPILE_SHADER.dir/compiler_depend.ts
cmake-build-debug/Intern/RayCore/CMakeFiles/COMPILE_SHADER.dir/DependInfo.cmake
cmake-build-debug/Intern/RayCore/CMakeFiles/COMPILE_SHADER.dir/progress.make
cmake-build-debug/Intern/RayCore/CMakeFiles/RayCore.dir/build.make
cmake-build-debug/Intern/RayCore/CMakeFiles/RayCore.dir/cmake_clean.cmake
cmake-build-debug/Intern/RayCore/CMakeFiles/RayCore.dir/cmake_pch.hxx
cmake-build-debug/Intern/RayCore/CMakeFiles/RayCore.dir/cmake_pch.hxx.cxx
cmake-build-debug/Intern/RayCore/CMakeFiles/RayCore.dir/compiler_depend.make
cmake-build-debug/Intern/RayCore/CMakeFiles/RayCore.dir/compiler_depend.ts
cmake-build-debug/Intern/RayCore/CMakeFiles/RayCore.dir/depend.make
cmake-build-debug/Intern/RayCore/CMakeFiles/RayCore.dir/DependInfo.cmake
cmake-build-debug/Intern/RayCore/CMakeFiles/RayCore.dir/flags.make
cmake-build-debug/Intern/RayCore/CMakeFiles/RayCore.dir/link.txt
cmake-build-debug/Intern/RayCore/CMakeFiles/RayCore.dir/progress.make
cmake-build-debug/Intern/TerminalApp/cmake_install.cmake
cmake-build-debug/Intern/TerminalApp/Makefile
cmake-build-debug/Intern/TerminalApp/TerminalApp.cbp
cmake-build-debug/Intern/TerminalApp/TerminalAppConfig.h
cmake-build-debug/Intern/TerminalApp/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/Intern/TerminalApp/CMakeFiles/progress.marks
cmake-build-debug/Intern/TerminalApp/CMakeFiles/TerminalApp.dir/build.make
cmake-build-debug/Intern/TerminalApp/CMakeFiles/TerminalApp.dir/cmake_clean.cmake
cmake-build-debug/Intern/TerminalApp/CMakeFiles/TerminalApp.dir/compiler_depend.make
cmake-build-debug/Intern/TerminalApp/CMakeFiles/TerminalApp.dir/compiler_depend.ts
cmake-build-debug/Intern/TerminalApp/CMakeFiles/TerminalApp.dir/depend.make
cmake-build-debug/Intern/TerminalApp/CMakeFiles/TerminalApp.dir/DependInfo.cmake
cmake-build-debug/Intern/TerminalApp/CMakeFiles/TerminalApp.dir/flags.make
cmake-build-debug/Intern/TerminalApp/CMakeFiles/TerminalApp.dir/link.txt
cmake-build-debug/Intern/TerminalApp/CMakeFiles/TerminalApp.dir/progress.make
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/Tests/cmake_install.cmake
cmake-build-debug/Tests/CTestTestfile.cmake
cmake-build-debug/Tests/DartConfiguration.tcl
cmake-build-debug/Tests/Makefile
cmake-build-debug/Tests/RayTests.cbp
cmake-build-debug/Tests/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/Tests/CMakeFiles/progress.marks
cmake-build-debug/Tests/CMakeFiles/Continuous.dir/build.make
cmake-build-debug/Tests/CMakeFiles/Continuous.dir/cmake_clean.cmake
cmake-build-debug/Tests/CMakeFiles/Continuous.dir/compiler_depend.make
cmake-build-debug/Tests/CMakeFiles/Continuous.dir/compiler_depend.ts
cmake-build-debug/Tests/CMakeFiles/Continuous.dir/DependInfo.cmake
cmake-build-debug/Tests/CMakeFiles/Continuous.dir/progress.make
cmake-build-debug/Tests/CMakeFiles/ContinuousBuild.dir/build.make
cmake-build-debug/Tests/CMakeFiles/ContinuousBuild.dir/cmake_clean.cmake
cmake-build-debug/Tests/CMakeFiles/ContinuousBuild.dir/compiler_depend.make
cmake-build-debug/Tests/CMakeFiles/ContinuousBuild.dir/compiler_depend.ts
cmake-build-debug/Tests/CMakeFiles/ContinuousBuild.dir/DependInfo.cmake
cmake-build-debug/Tests/CMakeFiles/ContinuousBuild.dir/progress.make
cmake-build-debug/Tests/CMakeFiles/ContinuousConfigure.dir/build.make
cmake-build-debug/Tests/CMakeFiles/ContinuousConfigure.dir/cmake_clean.cmake
cmake-build-debug/Tests/CMakeFiles/ContinuousConfigure.dir/compiler_depend.make
cmake-build-debug/Tests/CMakeFiles/ContinuousConfigure.dir/compiler_depend.ts
cmake-build-debug/Tests/CMakeFiles/ContinuousConfigure.dir/DependInfo.cmake
cmake-build-debug/Tests/CMakeFiles/ContinuousConfigure.dir/progress.make
cmake-build-debug/Tests/CMakeFiles/ContinuousCoverage.dir/build.make
cmake-build-debug/Tests/CMakeFiles/ContinuousCoverage.dir/cmake_clean.cmake
cmake-build-debug/Tests/CMakeFiles/ContinuousCoverage.dir/compiler_depend.make
cmake-build-debug/Tests/CMakeFiles/ContinuousCoverage.dir/compiler_depend.ts
cmake-build-debug/Tests/CMakeFiles/ContinuousCoverage.dir/DependInfo.cmake
cmake-build-debug/Tests/CMakeFiles/ContinuousCoverage.dir/progress.make
cmake-build-debug/Tests/CMakeFiles/ContinuousMemCheck.dir/build.make
cmake-build-debug/Tests/CMakeFiles/ContinuousMemCheck.dir/cmake_clean.cmake
cmake-build-debug/Tests/CMakeFiles/ContinuousMemCheck.dir/compiler_depend.make
cmake-build-debug/Tests/CMakeFiles/ContinuousMemCheck.dir/compiler_depend.ts
cmake-build-debug/Tests/CMakeFiles/ContinuousMemCheck.dir/DependInfo.cmake
cmake-build-debug/Tests/CMakeFiles/ContinuousMemCheck.dir/progress.make
cmake-build-debug/Tests/CMakeFiles/ContinuousStart.dir/build.make
cmake-build-debug/Tests/CMakeFiles/ContinuousStart.dir/cmake_clean.cmake
cmake-build-debug/Tests/CMakeFiles/ContinuousStart.dir/compiler_depend.make
cmake-build-debug/Tests/CMakeFiles/ContinuousStart.dir/compiler_depend.ts
cmake-build-debug/Tests/CMakeFiles/ContinuousStart.dir/DependInfo.cmake
cmake-build-debug/Tests/CMakeFiles/ContinuousStart.dir/progress.make
cmake-build-debug/Tests/CMakeFiles/ContinuousSubmit.dir/build.make
cmake-build-debug/Tests/CMakeFiles/ContinuousSubmit.dir/cmake_clean.cmake
cmake-build-debug/Tests/CMakeFiles/ContinuousSubmit.dir/compiler_depend.make
cmake-build-debug/Tests/CMakeFiles/ContinuousSubmit.dir/compiler_depend.ts
cmake-build-debug/Tests/CMakeFiles/ContinuousSubmit.dir/DependInfo.cmake
cmake-build-debug/Tests/CMakeFiles/ContinuousSubmit.dir/progress.make
cmake-build-debug/Tests/CMakeFiles/ContinuousTest.dir/build.make
cmake-build-debug/Tests/CMakeFiles/ContinuousTest.dir/cmake_clean.cmake
cmake-build-debug/Tests/CMakeFiles/ContinuousTest.dir/compiler_depend.make
cmake-build-debug/Tests/CMakeFiles/ContinuousTest.dir/compiler_depend.ts
cmake-build-debug/Tests/CMakeFiles/ContinuousTest.dir/DependInfo.cmake
cmake-build-debug/Tests/CMakeFiles/ContinuousTest.dir/progress.make
cmake-build-debug/Tests/CMakeFiles/ContinuousUpdate.dir/build.make
cmake-build-debug/Tests/CMakeFiles/ContinuousUpdate.dir/cmake_clean.cmake
cmake-build-debug/Tests/CMakeFiles/ContinuousUpdate.dir/compiler_depend.make
cmake-build-debug/Tests/CMakeFiles/ContinuousUpdate.dir/compiler_depend.ts
cmake-build-debug/Tests/CMakeFiles/ContinuousUpdate.dir/DependInfo.cmake
cmake-build-debug/Tests/CMakeFiles/ContinuousUpdate.dir/progress.make
cmake-build-debug/Tests/CMakeFiles/Experimental.dir/build.make
cmake-build-debug/Tests/CMakeFiles/Experimental.dir/cmake_clean.cmake
cmake-build-debug/Tests/CMakeFiles/Experimental.dir/compiler_depend.make
cmake-build-debug/Tests/CMakeFiles/Experimental.dir/compiler_depend.ts
cmake-build-debug/Tests/CMakeFiles/Experimental.dir/DependInfo.cmake
cmake-build-debug/Tests/CMakeFiles/Experimental.dir/progress.make
cmake-build-debug/Tests/CMakeFiles/ExperimentalBuild.dir/build.make
cmake-build-debug/Tests/CMakeFiles/ExperimentalBuild.dir/cmake_clean.cmake
cmake-build-debug/Tests/CMakeFiles/ExperimentalBuild.dir/compiler_depend.make
cmake-build-debug/Tests/CMakeFiles/ExperimentalBuild.dir/compiler_depend.ts
cmake-build-debug/Tests/CMakeFiles/ExperimentalBuild.dir/DependInfo.cmake
cmake-build-debug/Tests/CMakeFiles/ExperimentalBuild.dir/progress.make
cmake-build-debug/Tests/CMakeFiles/ExperimentalConfigure.dir/build.make
cmake-build-debug/Tests/CMakeFiles/ExperimentalConfigure.dir/cmake_clean.cmake
cmake-build-debug/Tests/CMakeFiles/ExperimentalConfigure.dir/compiler_depend.make
cmake-build-debug/Tests/CMakeFiles/ExperimentalConfigure.dir/compiler_depend.ts
cmake-build-debug/Tests/CMakeFiles/ExperimentalConfigure.dir/DependInfo.cmake
cmake-build-debug/Tests/CMakeFiles/ExperimentalConfigure.dir/progress.make
cmake-build-debug/Tests/CMakeFiles/ExperimentalCoverage.dir/build.make
cmake-build-debug/Tests/CMakeFiles/ExperimentalCoverage.dir/cmake_clean.cmake
cmake-build-debug/Tests/CMakeFiles/ExperimentalCoverage.dir/compiler_depend.make
cmake-build-debug/Tests/CMakeFiles/ExperimentalCoverage.dir/compiler_depend.ts
cmake-build-debug/Tests/CMakeFiles/ExperimentalCoverage.dir/DependInfo.cmake
cmake-build-debug/Tests/CMakeFiles/ExperimentalCoverage.dir/progress.make
cmake-build-debug/Tests/CMakeFiles/ExperimentalMemCheck.dir/build.make
cmake-build-debug/Tests/CMakeFiles/ExperimentalMemCheck.dir/cmake_clean.cmake
cmake-build-debug/Tests/CMakeFiles/ExperimentalMemCheck.dir/compiler_depend.make
cmake-build-debug/Tests/CMakeFiles/ExperimentalMemCheck.dir/compiler_depend.ts
cmake-build-debug/Tests/CMakeFiles/ExperimentalMemCheck.dir/DependInfo.cmake
cmake-build-debug/Tests/CMakeFiles/ExperimentalMemCheck.dir/progress.make
cmake-build-debug/Tests/CMakeFiles/ExperimentalStart.dir/build.make
cmake-build-debug/Tests/CMakeFiles/ExperimentalStart.dir/cmake_clean.cmake
cmake-build-debug/Tests/CMakeFiles/ExperimentalStart.dir/compiler_depend.make
cmake-build-debug/Tests/CMakeFiles/ExperimentalStart.dir/compiler_depend.ts
cmake-build-debug/Tests/CMakeFiles/ExperimentalStart.dir/DependInfo.cmake
cmake-build-debug/Tests/CMakeFiles/ExperimentalStart.dir/progress.make
cmake-build-debug/Tests/CMakeFiles/ExperimentalSubmit.dir/build.make
cmake-build-debug/Tests/CMakeFiles/ExperimentalSubmit.dir/cmake_clean.cmake
cmake-build-debug/Tests/CMakeFiles/ExperimentalSubmit.dir/compiler_depend.make
cmake-build-debug/Tests/CMakeFiles/ExperimentalSubmit.dir/compiler_depend.ts
cmake-build-debug/Tests/CMakeFiles/ExperimentalSubmit.dir/DependInfo.cmake
cmake-build-debug/Tests/CMakeFiles/ExperimentalSubmit.dir/progress.make
cmake-build-debug/Tests/CMakeFiles/ExperimentalTest.dir/build.make
cmake-build-debug/Tests/CMakeFiles/ExperimentalTest.dir/cmake_clean.cmake
cmake-build-debug/Tests/CMakeFiles/ExperimentalTest.dir/compiler_depend.make
cmake-build-debug/Tests/CMakeFiles/ExperimentalTest.dir/compiler_depend.ts
cmake-build-debug/Tests/CMakeFiles/ExperimentalTest.dir/DependInfo.cmake
cmake-build-debug/Tests/CMakeFiles/ExperimentalTest.dir/progress.make
cmake-build-debug/Tests/CMakeFiles/ExperimentalUpdate.dir/build.make
cmake-build-debug/Tests/CMakeFiles/ExperimentalUpdate.dir/cmake_clean.cmake
cmake-build-debug/Tests/CMakeFiles/ExperimentalUpdate.dir/compiler_depend.make
cmake-build-debug/Tests/CMakeFiles/ExperimentalUpdate.dir/compiler_depend.ts
cmake-build-debug/Tests/CMakeFiles/ExperimentalUpdate.dir/DependInfo.cmake
cmake-build-debug/Tests/CMakeFiles/ExperimentalUpdate.dir/progress.make
cmake-build-debug/Tests/CMakeFiles/Nightly.dir/build.make
cmake-build-debug/Tests/CMakeFiles/Nightly.dir/cmake_clean.cmake
cmake-build-debug/Tests/CMakeFiles/Nightly.dir/compiler_depend.make
cmake-build-debug/Tests/CMakeFiles/Nightly.dir/compiler_depend.ts
cmake-build-debug/Tests/CMakeFiles/Nightly.dir/DependInfo.cmake
cmake-build-debug/Tests/CMakeFiles/Nightly.dir/progress.make
cmake-build-debug/Tests/CMakeFiles/NightlyBuild.dir/build.make
cmake-build-debug/Tests/CMakeFiles/NightlyBuild.dir/cmake_clean.cmake
cmake-build-debug/Tests/CMakeFiles/NightlyBuild.dir/compiler_depend.make
cmake-build-debug/Tests/CMakeFiles/NightlyBuild.dir/compiler_depend.ts
cmake-build-debug/Tests/CMakeFiles/NightlyBuild.dir/DependInfo.cmake
cmake-build-debug/Tests/CMakeFiles/NightlyBuild.dir/progress.make
cmake-build-debug/Tests/CMakeFiles/NightlyConfigure.dir/build.make
cmake-build-debug/Tests/CMakeFiles/NightlyConfigure.dir/cmake_clean.cmake
cmake-build-debug/Tests/CMakeFiles/NightlyConfigure.dir/compiler_depend.make
cmake-build-debug/Tests/CMakeFiles/NightlyConfigure.dir/compiler_depend.ts
cmake-build-debug/Tests/CMakeFiles/NightlyConfigure.dir/DependInfo.cmake
cmake-build-debug/Tests/CMakeFiles/NightlyConfigure.dir/progress.make
cmake-build-debug/Tests/CMakeFiles/NightlyCoverage.dir/build.make
cmake-build-debug/Tests/CMakeFiles/NightlyCoverage.dir/cmake_clean.cmake
cmake-build-debug/Tests/CMakeFiles/NightlyCoverage.dir/compiler_depend.make
cmake-build-debug/Tests/CMakeFiles/NightlyCoverage.dir/compiler_depend.ts
cmake-build-debug/Tests/CMakeFiles/NightlyCoverage.dir/DependInfo.cmake
cmake-build-debug/Tests/CMakeFiles/NightlyCoverage.dir/progress.make
cmake-build-debug/Tests/CMakeFiles/NightlyMemCheck.dir/build.make
cmake-build-debug/Tests/CMakeFiles/NightlyMemCheck.dir/cmake_clean.cmake
cmake-build-debug/Tests/CMakeFiles/NightlyMemCheck.dir/compiler_depend.make
cmake-build-debug/Tests/CMakeFiles/NightlyMemCheck.dir/compiler_depend.ts
cmake-build-debug/Tests/CMakeFiles/NightlyMemCheck.dir/DependInfo.cmake
cmake-build-debug/Tests/CMakeFiles/NightlyMemCheck.dir/progress.make
cmake-build-debug/Tests/CMakeFiles/NightlyMemoryCheck.dir/build.make
cmake-build-debug/Tests/CMakeFiles/NightlyMemoryCheck.dir/cmake_clean.cmake
cmake-build-debug/Tests/CMakeFiles/NightlyMemoryCheck.dir/compiler_depend.make
cmake-build-debug/Tests/CMakeFiles/NightlyMemoryCheck.dir/compiler_depend.ts
cmake-build-debug/Tests/CMakeFiles/NightlyMemoryCheck.dir/DependInfo.cmake
cmake-build-debug/Tests/CMakeFiles/NightlyMemoryCheck.dir/progress.make
cmake-build-debug/Tests/CMakeFiles/NightlyStart.dir/build.make
cmake-build-debug/Tests/CMakeFiles/NightlyStart.dir/cmake_clean.cmake
cmake-build-debug/Tests/CMakeFiles/NightlyStart.dir/compiler_depend.make
cmake-build-debug/Tests/CMakeFiles/NightlyStart.dir/compiler_depend.ts
cmake-build-debug/Tests/CMakeFiles/NightlyStart.dir/DependInfo.cmake
cmake-build-debug/Tests/CMakeFiles/NightlyStart.dir/progress.make
cmake-build-debug/Tests/CMakeFiles/NightlySubmit.dir/build.make
cmake-build-debug/Tests/CMakeFiles/NightlySubmit.dir/cmake_clean.cmake
cmake-build-debug/Tests/CMakeFiles/NightlySubmit.dir/compiler_depend.make
cmake-build-debug/Tests/CMakeFiles/NightlySubmit.dir/compiler_depend.ts
cmake-build-debug/Tests/CMakeFiles/NightlySubmit.dir/DependInfo.cmake
cmake-build-debug/Tests/CMakeFiles/NightlySubmit.dir/progress.make
cmake-build-debug/Tests/CMakeFiles/NightlyTest.dir/build.make
cmake-build-debug/Tests/CMakeFiles/NightlyTest.dir/cmake_clean.cmake
cmake-build-debug/Tests/CMakeFiles/NightlyTest.dir/compiler_depend.make
cmake-build-debug/Tests/CMakeFiles/NightlyTest.dir/compiler_depend.ts
cmake-build-debug/Tests/CMakeFiles/NightlyTest.dir/DependInfo.cmake
cmake-build-debug/Tests/CMakeFiles/NightlyTest.dir/progress.make
cmake-build-debug/Tests/CMakeFiles/NightlyUpdate.dir/build.make
cmake-build-debug/Tests/CMakeFiles/NightlyUpdate.dir/cmake_clean.cmake
cmake-build-debug/Tests/CMakeFiles/NightlyUpdate.dir/compiler_depend.make
cmake-build-debug/Tests/CMakeFiles/NightlyUpdate.dir/compiler_depend.ts
cmake-build-debug/Tests/CMakeFiles/NightlyUpdate.dir/DependInfo.cmake
cmake-build-debug/Tests/CMakeFiles/NightlyUpdate.dir/progress.make
cmake-build-debug/Tests/CMakeFiles/RAYX_tst.dir/build.make
cmake-build-debug/Tests/CMakeFiles/RAYX_tst.dir/cmake_clean.cmake
cmake-build-debug/Tests/CMakeFiles/RAYX_tst.dir/cmake_pch.hxx
cmake-build-debug/Tests/CMakeFiles/RAYX_tst.dir/cmake_pch.hxx.cxx
cmake-build-debug/Tests/CMakeFiles/RAYX_tst.dir/compiler_depend.make
cmake-build-debug/Tests/CMakeFiles/RAYX_tst.dir/compiler_depend.ts
cmake-build-debug/Tests/CMakeFiles/RAYX_tst.dir/depend.make
cmake-build-debug/Tests/CMakeFiles/RAYX_tst.dir/DependInfo.cmake
cmake-build-debug/Tests/CMakeFiles/RAYX_tst.dir/flags.make
cmake-build-debug/Tests/CMakeFiles/RAYX_tst.dir/link.txt
cmake-build-debug/Tests/CMakeFiles/RAYX_tst.dir/progress.make
.idea/.gitignore
.idea/.name
.idea/misc.xml
.idea/modules.xml
.idea/RAY-X.iml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
