# Directories
.vs/
.vscode/
bin/
bin-int/
build/
Intern/RayCore/doc/*/
out/

# Files
*.user
*.code-workspace
/CMakeSettings.json
/Tests/output/*
/Tests/output-new/*
/Tests/oldray_files/unittestData
/Tests/oldray_files/spec1-first_rzp02/data
/Tests/oldray_files/spec1-first_rzp4mm/data
/Tests/oldray_files/spec1+first_rzp4mm/data
/Tests/.ipynb_checkpoints/*
CMakeCache.txt
cmake.check_cache
cmake-build-debug/build.ninja
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CPackConfig.cmake
cmake-build-debug/CPackSourceConfig.cmake
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/reply/cache-v2-3fcd657d44e20beb5b79.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-6a74a5abbac4ef41796d.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-5c49c7b1e08d30471c35.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
cmake-build-debug/.cmake/api/v1/reply/directory-Extern-Debug-a3b78571e98ab7562abd.json
cmake-build-debug/.cmake/api/v1/reply/directory-Extern.CLI11-Debug-c54f630a0bf69828db83.json
cmake-build-debug/.cmake/api/v1/reply/directory-Extern.CLI11.src-Debug-fa3446ffc822a1086f88.json
cmake-build-debug/.cmake/api/v1/reply/directory-Extern.googletest-Debug-ca975b9fa7614f242e0b.json
cmake-build-debug/.cmake/api/v1/reply/directory-Extern.googletest.googlemock-Debug-03222d7b3733689c27b7.json
cmake-build-debug/.cmake/api/v1/reply/directory-Extern.googletest.googletest-Debug-d61d438c34462d7da9c1.json
cmake-build-debug/.cmake/api/v1/reply/directory-Intern-Debug-bfd19c17767b8a3de3a6.json
cmake-build-debug/.cmake/api/v1/reply/directory-Intern.RayCore-Debug-5bff286c20055450eab7.json
cmake-build-debug/.cmake/api/v1/reply/directory-Intern.TerminalApp-Debug-e11c1f30669604d83387.json
cmake-build-debug/.cmake/api/v1/reply/directory-Tests-Debug-0bb2ec8d84e8c19149a9.json
cmake-build-debug/.cmake/api/v1/reply/index-2022-11-30T15-16-48-0640.json
cmake-build-debug/.cmake/api/v1/reply/target-CLI11-Debug-10b764b3b961d0bf1ec8.json
cmake-build-debug/.cmake/api/v1/reply/target-COMPILE_SHADER-Debug-2bf595e19727d270cfdf.json
cmake-build-debug/.cmake/api/v1/reply/target-Continuous-Debug-08f47956a51e3e2194cf.json
cmake-build-debug/.cmake/api/v1/reply/target-ContinuousBuild-Debug-5860f920e1c4c323015e.json
cmake-build-debug/.cmake/api/v1/reply/target-ContinuousConfigure-Debug-8b98798a8fc17430b16c.json
cmake-build-debug/.cmake/api/v1/reply/target-ContinuousCoverage-Debug-a727aba7e7b358a75108.json
cmake-build-debug/.cmake/api/v1/reply/target-ContinuousMemCheck-Debug-9ed1944f2d242465636c.json
cmake-build-debug/.cmake/api/v1/reply/target-ContinuousStart-Debug-60e58b8699195a8e36bf.json
cmake-build-debug/.cmake/api/v1/reply/target-ContinuousSubmit-Debug-845b6822976bfd363d8e.json
cmake-build-debug/.cmake/api/v1/reply/target-ContinuousTest-Debug-ec9a7ec22555ac17c831.json
cmake-build-debug/.cmake/api/v1/reply/target-ContinuousUpdate-Debug-799cbc9317545e9a3122.json
cmake-build-debug/.cmake/api/v1/reply/target-Experimental-Debug-25fc14992a841755e901.json
cmake-build-debug/.cmake/api/v1/reply/target-ExperimentalBuild-Debug-57168078f4b536b8e814.json
cmake-build-debug/.cmake/api/v1/reply/target-ExperimentalConfigure-Debug-47125e09cfe0d5366bee.json
cmake-build-debug/.cmake/api/v1/reply/target-ExperimentalCoverage-Debug-12e45f01c39b0c676a6f.json
cmake-build-debug/.cmake/api/v1/reply/target-ExperimentalMemCheck-Debug-dd37da81828dd8cc68c6.json
cmake-build-debug/.cmake/api/v1/reply/target-ExperimentalStart-Debug-91abf0d5783951bdb949.json
cmake-build-debug/.cmake/api/v1/reply/target-ExperimentalSubmit-Debug-349681f4d267fd6846c3.json
cmake-build-debug/.cmake/api/v1/reply/target-ExperimentalTest-Debug-fe9bef66dd4274e7541e.json
cmake-build-debug/.cmake/api/v1/reply/target-ExperimentalUpdate-Debug-8d7fffd14550b0ef6eaf.json
cmake-build-debug/.cmake/api/v1/reply/target-gmock_main-Debug-a5fc90b99a54c01f3bbf.json
cmake-build-debug/.cmake/api/v1/reply/target-gmock-Debug-4cb8476b958c64270fd1.json
cmake-build-debug/.cmake/api/v1/reply/target-gtest_main-Debug-2c03528871db92e994d0.json
cmake-build-debug/.cmake/api/v1/reply/target-gtest-Debug-0e304168165d6975ea97.json
cmake-build-debug/.cmake/api/v1/reply/target-Nightly-Debug-2dd2f3e1f7bd8f1f2e2b.json
cmake-build-debug/.cmake/api/v1/reply/target-NightlyBuild-Debug-ed73bc5f97bcf12716f7.json
cmake-build-debug/.cmake/api/v1/reply/target-NightlyConfigure-Debug-b904e81d773a3631c8cd.json
cmake-build-debug/.cmake/api/v1/reply/target-NightlyCoverage-Debug-df1d422e6b401ece4ac2.json
cmake-build-debug/.cmake/api/v1/reply/target-NightlyMemCheck-Debug-6149714b836486d87e6d.json
cmake-build-debug/.cmake/api/v1/reply/target-NightlyMemoryCheck-Debug-27368a9285c2543dcbe8.json
cmake-build-debug/.cmake/api/v1/reply/target-NightlyStart-Debug-9fea3e486dacbe6a58c2.json
cmake-build-debug/.cmake/api/v1/reply/target-NightlySubmit-Debug-0b8cbdcc315b59cbb1e6.json
cmake-build-debug/.cmake/api/v1/reply/target-NightlyTest-Debug-ef0fb22bff39964d4f70.json
cmake-build-debug/.cmake/api/v1/reply/target-NightlyUpdate-Debug-c12123a0ab52420d686c.json
cmake-build-debug/.cmake/api/v1/reply/target-RayCore-Debug-185e62e0edc7ba9f4af9.json
cmake-build-debug/.cmake/api/v1/reply/target-RAYX_tst-Debug-77110cc3b89129b78616.json
cmake-build-debug/.cmake/api/v1/reply/target-TerminalApp-Debug-f3a8ca4447874db546e8.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ee5ca47e57a615ee224c.json
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/CMakeError.log
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/3.24.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.24.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.24.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/Extern/cmake_install.cmake
cmake-build-debug/Extern/CLI11/cmake_install.cmake
cmake-build-debug/Extern/CLI11/src/cmake_install.cmake
cmake-build-debug/Extern/googletest/cmake_install.cmake
cmake-build-debug/Extern/googletest/CTestTestfile.cmake
cmake-build-debug/Extern/googletest/googlemock/cmake_install.cmake
cmake-build-debug/Extern/googletest/googlemock/CTestTestfile.cmake
cmake-build-debug/Extern/googletest/googletest/cmake_install.cmake
cmake-build-debug/Extern/googletest/googletest/CTestTestfile.cmake
cmake-build-debug/Extern/googletest/googletest/CMakeFiles/Export/0c08b8e77dd885bfe55a19a9659d9fc1/GTestTargets-debug.cmake
cmake-build-debug/Extern/googletest/googletest/CMakeFiles/Export/0c08b8e77dd885bfe55a19a9659d9fc1/GTestTargets.cmake
cmake-build-debug/Extern/googletest/googletest/generated/gmock_main.pc
cmake-build-debug/Extern/googletest/googletest/generated/gmock.pc
cmake-build-debug/Extern/googletest/googletest/generated/gtest_main.pc
cmake-build-debug/Extern/googletest/googletest/generated/gtest.pc
cmake-build-debug/Extern/googletest/googletest/generated/GTestConfig.cmake
cmake-build-debug/Extern/googletest/googletest/generated/GTestConfigVersion.cmake
cmake-build-debug/Intern/cmake_install.cmake
cmake-build-debug/Intern/RayCore/cmake_install.cmake
cmake-build-debug/Intern/RayCore/CMakeFiles/RayCore.dir/cmake_pch.hxx
cmake-build-debug/Intern/RayCore/CMakeFiles/RayCore.dir/cmake_pch.hxx.cxx
cmake-build-debug/Intern/TerminalApp/cmake_install.cmake
cmake-build-debug/Intern/TerminalApp/TerminalAppConfig.h
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/Tests/cmake_install.cmake
cmake-build-debug/Tests/CTestTestfile.cmake
cmake-build-debug/Tests/DartConfiguration.tcl
cmake-build-debug/Tests/CMakeFiles/RAYX_tst.dir/cmake_pch.hxx
cmake-build-debug/Tests/CMakeFiles/RAYX_tst.dir/cmake_pch.hxx.cxx
.idea/.gitignore
.idea/.name
.idea/misc.xml
.idea/modules.xml
.idea/RAY-X.iml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
results.json
