image: gcc
before_script:
  - apt-get update --yes
  - apt-get install --yes cmake
  - echo "Before-script successful"

build-job:
  stage: build
  script:
    - mkdir build && cd build
    - cmake ..
    - cmake --build .
    - echo "Build completed without errors" # TODO: respect output of cmake

test-job1:
  #- ctest .
  stage: test
  script:
    - echo "This job tests something"

test-job2:
  stage: test
  script:
    - echo "This job tests something, but takes more time than test-job1."
    - echo "After the echo commands complete, it runs the sleep command for 20 seconds"
    - echo "which simulates a test that runs 20 seconds longer than test-job1"
    - sleep 20

deploy-prod:
  stage: deploy
  script:
    - echo "This job deploys something from the $CI_COMMIT_BRANCH branch."
