[submodule "Extern/glm"]
	path = Extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "Extern/HighFive"]
	path = Extern/HighFive
	url = https://github.com/BlueBrain/HighFive.git
[submodule "Extern/CLI11"]
	path = Extern/CLI11
	url = https://github.com/CLIUtils/CLI11.git
